<ion-header>
  <ion-toolbar color="white">

    <ion-buttons slot="start">

      <ion-menu-button *ngIf="showButtonMenu && !showButtonBack"></ion-menu-button>

      <ion-button *ngIf="showButtonBack"
                  (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <!-- <ion-back-button *ngIf="toolbarService.showBackButton"></ion-back-button> -->

    </ion-buttons>

    <ion-title>{{ title }}</ion-title>

    <ion-buttons slot="end">
      <ion-button *ngFor="let button of toolbarButtons"
                  (click)="button.action()">
        <ion-icon style="font-size: 25px;"
                  [name]="button.icon"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>