<base-toolbar [showButtonBack]="true"
              title="Coleções"></base-toolbar>
<ion-progress-bar type="indeterminate"
                  *ngIf="loading"></ion-progress-bar>
<div class="collection-containers">
    <span class="empty"
          *ngIf="!collections?.length && !loading">Não encontramos nada por aqui. 🤷‍♂️</span>
    <div class="collection"
         *ngFor="let collection of collections">
        <div class="header">
            <div>
                <ion-icon name="bookmarks-outline"></ion-icon>
                {{ collection.name }}
            </div>
            <ion-icon name="trash"
                      class="delete"
                      [ngClass]="{'disabled': loading}"
                      (click)="deleteCollection(collection.id)"></ion-icon>
        </div>
        <div class="cards">
            <div class="card"
                 [ngClass]="{'disabled': loading}"
                 (click)="goToCard(card.nickname)"
                 *ngFor="let card of collection.cards">
                <ion-avatar slot="start">
                    <img #profileImage
                         [src]="card.imageUrl"
                         (error)="profileImage.src = '../../../../../assets/images/default-avatar.png'">
                </ion-avatar>
                <ion-label>{{ card.name }}</ion-label>
            </div>
        </div>
    </div>
</div>