:host {
  ion-item {
    --background: var(--background-color);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    overflow: hidden;
    width: var(--container-width);
    max-width: var(--container-max-width);
    margin: 12px auto;
    padding: 32px;

    > div {
      display: flex;
      gap: 24px;
      flex-direction: column;
    }

    ::ng-deep {
      ion-input {
        color: black;
      }
    }

    ion-button {
      width: 100%;
    }

    span {
      font-size: 14px;
      font-weight: bold;
    }

    p {
      font-size: 14px;
    }

    .digits {
      display: flex;
      gap: 24px;
      justify-content: center;

      input {
        max-width: 46px;
        min-height: 52px;
        font-size: 28px;
        text-align: center;
        margin: 0;
        outline: none;
      }
    }
  }
}
