<base-toolbar [showButtonBack]="true"
              title="Esqueci minha senha"></base-toolbar>

<div class="content">
  <span>Sem problemas!</span>
  <div [ngSwitch]="step">
    <ng-container *ngSwitchCase="'email'">
      <p>Preencha seu email para que possamos enviar um código de recuperação.</p>
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email"
                   [formControl]="emailFormControl"
                   autocomplete="undefined"
                   color="light"
                   required></ion-input>
      </ion-item>
      <ion-button [disabled]="emailFormControl.invalid || sendingEmail"
                  (click)="sendRecoveryCode()">
        {{ sendingEmail ? 'Enviando email...' : 'Recuperar senha' }}
      </ion-button>
    </ng-container>

    <ng-container *ngSwitchCase="'code'">
      <p>Foi enviado para o seu e-mail um código de 4 dígitos. Por favor, digite-os abaixo.</p>
      <div class="digits">
        <input #firstDigit
               type="number"
               (focus)="firstDigit.select()"
               (keyup)="secondDigit.focus();">
        <input #secondDigit
               type="number"
               (focus)="secondDigit.select()"
               (keyup)="thirdDigit.focus();">
        <input #thirdDigit
               type="number"
               (focus)="thirdDigit.select()"
               (keyup)="fourthDigit.focus();">
        <input #fourthDigit
               type="number"
               (focus)="fourthDigit.select()"
               (keyup)="fourthDigit.focus(); validateCode(firstDigit, secondDigit, thirdDigit, fourthDigit)">
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'password'">
      <p>Digite uma nova senha para sua conta. Dica: coloque uma senha que você irá lembrar com facilidade
        posteriormente.</p>
      <form [formGroup]="passwordFormGroup">
        <ion-item>
          <ion-label position="stacked">Nova senha</ion-label>
          <ion-input type="password"
                     formControlName="password"
                     minlength="5"
                     color="light"
                     required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirme a nova senha</ion-label>
          <ion-input type="password"
                     minlength="5"
                     formControlName="passwordConfirmation"
                     color="light"
                     required></ion-input>
        </ion-item>
      </form>
      <ion-button [disabled]="passwordFormGroup.invalid || passwordFormGroup.controls.password.value != passwordFormGroup.controls.passwordConfirmation.value || changingPassword"
                  (click)="changePassword()">
        {{ changingPassword ? 'Atualizando senha...' : 'Confirmar nova senha' }}
      </ion-button>
    </ng-container>
  </div>
</div>