:host {
  ion-content {
    --background: var(--background-color);
  }
  form {
    width: var(--container-width);
    max-width: var(--container-max-width);
    margin: 0 auto;

    ion-list {
      padding: 0;
      margin: 0 12px;
    }

    ion-item {
      --background: var(--background-color);
    }
  }
}
